DebugMMCTP/DebugMMCTP.exe
DebugMMCTP/DebugMMCTP Libs/Appearance Pak.dll
DebugMMCTP/DebugMMCTP Libs/RegEx.dll
DebugMMCTP/DebugMMCTP Libs/Shell.dll
DebugMMCTP/DebugMMCTP Libs/msvcp140.dll
DebugMMCTP/DebugMMCTP Libs/XojoGUIFramework32.dll
DebugMMCTP/DebugMMCTP Libs/XML.dll
DebugMMCTP/DebugMMCTP Libs/SQLiteDatabase.dll
DebugMMCTP/DebugMMCTP Libs/vcruntime140.dll