DebugMMCTP/DebugMMCTP Libs/Appearance Pak.dll
DebugMMCTP/DebugMMCTP Libs/XML.dll
DebugMMCTP/DebugMMCTP Libs/SQLiteDatabase.dll
MMCTP.debug.app/Contents/Frameworks/XojoFramework.framework/Versions/A/_CodeSignature/CodeResources

*.xojo_uistate

*.xojo_uistate

*.xojo_uistate
